.button_call_to_action{
    font-size: 17px;
    font-weight: 400;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    @include button-primary;
    &:hover{
        @include button-hover;
    }
    &:active{
        @include button-hover;
    }
}
