@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

body {
    font-family: $font-primary, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  a {
    color: black;
    text-decoration: none;
  }
  
h1{
  font-size: 25px;
  font-weight: $font-heavy;
}

h2{
  font-size: 20px;
  font-weight: $font-light;
}

h3{
  font-family: $font-secondary, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

h4{
  font-size: 18px;
  font-weight: 400;
}


h5{
  font-size: 20px;
}

h6{
  font-size: 20px;
  font-weight: $font-light;
}
