.header{
    height: 66px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 1.5px 3px $color-shadow;
    z-index: 9;
    position: relative;
    &__icon{
        font-size: 25px;
        position: absolute;
        top: 17px; left: 10px;
        &:active{
            color: $grey1;
        }
        &--display_none{
            display: none;
        }
    }
    & figure{
        margin: auto;
        
        & img{
            width: 220px;
        }
    }
}