header{
    box-shadow: 2px 1.5px 3px $color-shadow;
    z-index: 9;
    position: relative;
.box_header{
    max-width: 1400px;
    margin: auto;
    height: 66px;
    display: flex;
    justify-content: center;
    &__icon{
        font-size: 23px;
        margin: auto 0 auto 15px;
        &:active{
            color: $grey1;
        }
        &--display_none{
            display: none;
        }
    }
    & figure{
        margin: auto;
        
        & img{
            width: 220px;
        }
    }
}
}
