.header{
    display: flex;
    justify-content: center;
    box-shadow: 2px 1.5px 3px $color-shadow;
    z-index: 9;
    position: relative;
    &__icon{
        font-size: 25px;
        position: absolute;
        top: 17px; left: 10px;
        &:active{
            color: $grey1;
        }
        &--display_none{
            display: none;
        }
    }
    & figure{
        padding: 12px;
        & img{
            width: 220px;
        }
    }
}

.banner{
    background: $bg-primary;
    &__location{
        height: 48px;
        background-color: $grey1;
        display: flex;
        justify-content: center;
        align-items:center ;
        font-weight: $font-middle;
        font-size: 17px;
        color: $grey3;
        & i{
            margin-right:15px;
        }
    }
    &__titles{
        height: 260px;
        text-align: center;
        & h1{
            margin-top: 50px;
            padding: 0 10px;
        }
        & h2{
            margin-top: 20px;
            margin-bottom: 65px;
            padding: 0 10px;
        }  
    }
}

.fonctionnement{
    margin: map-get($margin-size, mobile );
    padding-top: 45px;
    &__box{
        margin-top: 30px;
        margin-bottom: 60px;
        padding-left: 15px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__step{
            height: 75px;
            border-radius: 25px;
            background-color: $bg-primary;
            display: flex;
            align-items: center;
            @include box-shadow-primary;
            & .number{
                width: 22px;
                height: 22px;
                font-size: 14px;
                font-weight: $font-light;
                color: white;
                background: $color-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                right: 10px;
            }
            & i{
                margin: 0 30px;
                font-size: 20px;
                color: $grey2;
            }
            &:hover{

                & i{
                    color: $color-primary;
                }
            }
            .step_name{
                font-size: 18px;
                font-weight: $font-middle;
                }
        }
    }
}

.restaurants{
    padding: 50px 0;
    background: $bg-primary;
    & h1{
        margin: map-get($margin-size, mobile );
        margin-bottom: 15px;
    }
    &__card{
        margin: map-get($margin-size, mobile );
        overflow: hidden;
        margin-top: 15px;
        margin-bottom: 15px;
        background: $bg-items;
        height: 285px;
        border-radius: 20px;
        @include box-shadow-primary;
        & figure{
            height: 200px;
            & img{
                width:100%;
                height: 100%;
                object-fit: cover;
            }
            .baner_new{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 15px 0 auto;
                background: #99e2d0;
                color: #0a8d6d;
                width: 100px;
                height: 34px;
                border-radius: 3px;
                font-size: 16px;
                font-weight: $font-heavy;
                position: relative;
                bottom: 200px;
            }
            .display_none{
                display: none;
            }
        }
        &__text{
            display: flex;
            margin: 20px 15px;
            & i{
                margin-left: auto;
                font-size: 26px;
                color: white;
                -webkit-text-stroke: 1.5px black;/*bordure sur du texte*/
                &:hover{
                    -webkit-text-stroke:0;/*suprime la bordure*/
                    background: $bg-button;
                    background-clip:text;/*appliquer un bg-color sur du texte*/
                    -webkit-background-clip:text;
                    color:transparent;
                }
            }
        }
    }
}

.footer{
    background: $grey3;
}


footer{
    background: $grey3;
    & .container{
        padding: 25px 0 30px 25px;
        & h3{
            color: white;
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: $font-light;
        }
        & .list_footer{
            padding-top: 25px;
            &__item{
                width: fit-content;
                display: flex;
                align-items: center;
                margin: 10px 0;
                color: white;
                font-size: 18px;
                & i{
                    width: 35px;
                }
                &--with_icon{
                    font-weight: $font-middle;
                }
            }
        }
    }
}

.main_img{
    & figure{
        height: 300px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.menu{
    background: $bg-primary;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    bottom: 50px;
    padding: map-get($padding-size,mobile);
    &__title{
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            font-size: 25px;
            margin-right: 18px;
        }
    }
    &__box_items{
        padding-top: 40px;
        &__title{
            width: 45px;
            height: 25px;
            border-bottom: solid 3px $bg-baner-new;
            margin-bottom: 15px;
        }
        &__item{
            margin: 10px 0;
            background: white;
            border-radius: 15px;
            @include box-shadow-primary;
            a{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 10px;
                div{
                    p{
                        margin-top: 5px;
                        font-size: 17px;
                        font-weight: 400;
                    }
                }
                .price{
                    font-size: 17px;
                    font-weight: $font-heavy;
                }
            }
        }
    }
    &__call_to_action{
        display: flex;
    justify-content: center;
    align-items: center;
    }
}