.header{
    display: flex;
    justify-content: center;
    box-shadow: 2px 1.5px 3px #9e9e9e;
    z-index: 9;
    position: relative;
    & figure{
        padding: 12px;
        & img{
            width: 220px;
        }
    }
    &__icon{
        font-size: 25px;
        position: absolute;
        top: 17px; left: 10px;
        &:active{
            color: rgb(126, 125, 125);
        }
        &--display{
            display: none;
        }
    }
}

.banner{
    background: $bg-primary;
    display: flex;
    flex-direction: column;
    &__location{
        height: 48px;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items:center ;
        font-weight: 500;
        font-size: 17px;
        color: #313131;
        & i{
            margin: 0 15px;
        }
    }
    &__titles{
        height: 320px;
        text-align: center;


        
    }
}

.fonctionnement{
    margin: map-get($margin-size, mobile );
    &__box{
        margin-top: 30px;
        margin-bottom: 60px;
        padding-left: 12px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__step{
            height: 75px;
            border-radius: 25px;
            background-color: $bg-primary;
            display: flex;
            align-items: center;
            @include box-shadow-primary;
            & .number{
                width: 22px;
                height: 22px;
                font-size: 14px;
                font-weight: 400;
                color: white;
                background: $color-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                right: 10px;
            }
            & i{
                margin: 0 30px;
                font-size: 20px;
                color: #7D7D7D;
            }
        }
        &:hover{
            & i{
                color: aqua;
            }
        }
    }

    
}

