
/*Start page d'accueil*/
.loading_page{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    animation: display_loading_spinner 0ms ease 2s forwards;
    opacity: 0.9;
    flex-direction: column;
    
    
    &__spinner{
        margin: 100px auto 0 auto;
        width: 120px;
        height: 120px;
        background-color: transparent;
        border-radius: 50%;
        border: 15px solid $grey1;
        border-top-color: $font-baner-new;
        animation: loading_spinner 800ms linear infinite;
        }
    &__text{
        p{
            margin-top: 20px;
            color: $font-baner-new;
            text-align: center;
            font-size: 20px;
            font-weight: $font-middle;
        }
    }
}

.banner{
    background: $bg-primary;
    &__location{
        height: 48px;
        background-color: $grey1;
        display: flex;
        justify-content: center;
        align-items:center ;
        font-weight: $font-middle;
        font-size: 17px;
        color: $grey3;
        & i{
            margin-right:15px;
        }
    }
    &__titles{
        height: 260px;
        text-align: center;
        & h1{
            margin-top: 50px;
            padding: 0 10px;
        }
        & h2{
            margin-top: 20px;
            margin-bottom: 65px;
            padding: 0 10px;
        }  
    }
}

.fonctionnement{
    padding: map-get($padding-size, mobile );
    padding-top: 45px;
    &__box{
        margin-top: 30px;
        margin-bottom: 60px;
        padding-left: 15px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__step{
            height: 75px;
            border-radius: 25px;
            background-color: $bg-primary;
            display: flex;
            align-items: center;
            @include box-shadow-primary;
            & .number{
                width: 22px;
                height: 22px;
                font-size: 14px;
                font-weight: $font-light;
                color: white;
                background: $color-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                right: 10px;
            }
            & i{
                margin: 0 30px;
                font-size: 20px;
                color: $grey2;
            }
            &:hover{
                background: $purple;

                & i{
                    color: $color-primary;
                }
            }
            .step_name{
                font-size: 18px;
                font-weight: $font-middle;
                }
        }
    }
}

.restaurants{
    padding: 50px 0;
    background: $bg-primary;
    & h1{
        margin: map-get($margin-size, mobile );
        margin-bottom: 15px;
    }
    &__box{
    
        &__card{
            margin: map-get($margin-size, mobile );
            overflow: hidden;
            margin-top: 15px;
            margin-bottom: 15px;
            background: $bg-items;
            height: 285px;
            border-radius: 20px;
            @include box-shadow-primary;
            & figure{
                height: 200px;
                & img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
                .baner_new{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 15px 0 auto;
                background: #99e2d0;
                color: #0a8d6d;
                width: 100px;
                height: 34px;
                border-radius: 3px;
                font-size: 16px;
                font-weight: $font-heavy;
                position: relative;
                bottom: 200px;
                }
                .display_none{
                    display: none;
                }
            }
            &__text{
                display: flex;
                margin: 20px 15px;
                & i{
                    margin-left: auto;
                    font-size: 26px;
                    color: white;
                    -webkit-text-stroke: 1.5px black;/*bordure sur du texte*/
                    transform: scale(1);
                    transform-origin: 50% 50% ;
                    &:hover{
                        transform: scale(1.3);
                        transition: 500ms ease-in;
                        background: $bg-button;
                        -webkit-text-stroke:0;
                        color: transparent;
                        background-clip:text;
                        -webkit-background-clip:text;
                    }
                }
            }
        }
    }
}
/*End page d'accueil*/


/*Start page des menus*/
.head_img_restaurant{
    & figure{
        height: 300px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.menu{
    margin-top: -45px;
    z-index: 9;
    position: relative;
    background: $bg-primary;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    &__title{
        padding: map-get($padding-size, mobile );
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            font-size: 25px;
            margin-right: 18px;
        }
    }
    &__box_items{
        padding: map-get($padding-size, mobile );        
        padding-top: 40px;
        &__title{
            width: 45px;
            height: 25px;
            border-bottom: solid 3px $bg-baner-new;
            margin-bottom: 15px;
        }
        &__item{
            margin: 10px 0;
            height: 72px;
            background: white;
            border-radius: 15px;
            overflow: hidden;
            @include box-shadow-primary;
            display: flex;
            align-items: center;
            div{
                width: 60%;
                margin-left: 12px;
                h5, p{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p{
                    margin-top: 5px;
                    font-size: 17px;
                    font-weight: 400;
                }
            }
            .price{
                font-size: 17px;
                font-weight: $font-heavy;
                margin:auto 12px 12px auto;
            }
            .item__anime{   
                width: 0px; 
                height: 100%;
                background: $color-tertiary;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: width 500ms ease;
                i{
                    font-size: 22px;
                    color: white;
                }
            }
            &:hover{
                .item__anime{
                    width: 62px;
                    transition: width 500ms ease;
                    & i{
                        transform: rotate(1turn);
                        transition: 500ms ease;
                    }  
                
                }
            }
        }
    }
    &__call_to_action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    }
}
/*End page des menus*/




@media (min-width: 768px) and (max-width: 992px) {
    .fonctionnement{
        width: 700px;
    }
    .restaurants__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        .restaurants__box__card{
            width: 45%;
            margin: 15px 0;

        }
    }
}

@media (min-width:768px) {

    .fonctionnement{
        width: 700px;
    }
    .restaurants__box{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        .restaurants__box__card{
            width: 45%;
            margin: 15px 0;
        }
    }
    .menu__box_items{
        width: 45%;
    }
    .test{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}









